node_modules
composer.phar
.grunt
.node-version
/.idea/
vendor/
reports
coverage
tests/unit/build
tests/unit/reports
tests/unit/junit
tests/e2e/reports
build/an_sso.*
!build/an_sso.min.*
selenium-debug.log
phantomjsdriver.log
asmodeenet_platform
